* {
    box-sizing: border-box;
  }
  body{
    background-color: black;
}
.textFormat{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.table{
    position: static;
    top: 10%;
    left: 100%;
    margin-top: 10px;
    margin-left: 400px;
    border: 5px solid #168C00;
    width:800px;
    height: 500px;
}

#myTable{
    width:100%;
    height: 100%;
}
#myTable th, #myTable td{
border: 1px solid #168C00;
padding: 4px;
}
#myTable th{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: rgba(54, 197, 90, 0.527) ;
    color: black;
}
#myTable tr{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(160, 156, 156);
    color: black;
}
#myTable tr:hover{
    background-color: white
}
.colHeader{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: rgba(54, 197, 90, 0.527) !important;
    color: black;}
h1, h2, ol{
    color: rgb(40, 139, 22);
    padding: 5px;
}
ol{
    list-style: none;
    text-align: center;
}
.buttonFormat{
    border: 2px solid rgb(61, 61, 13);
    text-align: center;
    display: inline;
    bottom: 10%;
   margin: 5px;
   position: static;
    padding: 3px;
    margin-left: 50%;

}
.column{
right: 50%;
}
.rows{
 left:50%;
}
.update{
    left:20%
}
.contactLink{
    position: static;
    bottom: 0;
    width: 112px;
    margin-left: 50%;
    border: 2px solid black;
    margin-bottom: 10%;
}
